[project]
name = "{{PROJECT_NAME}}"
version = "0.1.0"
description = "Projeto {{PROJECT_NAME}}"
requires-python = ">={{PYTHON_VERSION}}"
readme = "README.md"
authors = [
    { name = "{{AUTHOR_NAME}}", email = "{{AUTHOR_EMAIL}}" }
]
dependencies = []